# Python cache files
__pycache__/
*.py[cod]
.pytest_cache/

# Editor and IDE files
.vscode/
*.swp
*.swo
.idea/


# Distribution / build directories
dist/
build/

# Virtual environment
venv/

# Package files
*.egg-info/
*.egg